*{
  border: 0;
  margin: 0;
}

.text-center{
  text-align: center;
}

.fontFamily{
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
  background-image: url('img/logo.jpg');
  background-repeat: initial;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.titulo-main{
  font-size: 2rem;
  text-decoration: underline;
}

.centrar-elemento{
  display: flex;
  margin: auto;
}

.d-block{
  padding-bottom: 9rem;
}

.navbar{
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100000;
  margin-bottom: 4rem;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: gold;
}

.carrito{
  display: flex;
}

.contadorCarrito{
  color: red;
  font-size: 1rem;
}

.card-img-top{
  width: auto;
}

.contenido-reseñas{
  background-color: #d9d9d9;
  display: flex;
  border-radius: 1rem;
  margin: 2rem;
  padding: 4rem 1rem 2rem 1rem;
}

.card{
  margin: auto;
}

.ver-comentarios{
  position: absolute;
  margin: -3rem 2rem;
}

.titulo-formulario{
  font-size: 2rem;
}

.formulario-contacto{
  margin: 1rem;
}

.footer{
  background-color: #6c757d;
  font-size: 1rem;
  padding: 1.5rem;
}

@media (min-width: 870px) and (max-width:1199px) {
  
  .contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .card{
    margin: auto;
  }

  .card-img-top{
    width: 15rem;
    margin: auto;
  }
}

@media (min-width:1200px) {
  .nav-item{
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  .carrito{
    padding: 0 1rem;
  }

  .titulo-main{
    font-size: 2.5rem;
  }

  .card{
    border-radius: 2rem;
    padding: .5rem;
    margin: 1rem;
  }

  .card-img-top{
    width: 20rem;
    margin: auto;
  }

  .card-title{
    text-decoration: underline;
  }

  .contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: .7rem;
  }

  .formulario-contacto{
    background-color: #d9d9d9;
    padding: 2rem 4rem;
    margin: 10rem;
    border-radius: 2rem;
  }
  
  .form-control, .col-auto{
    margin: auto;
    width: 80%;
  }
  
  .col-form-label{
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  #textArea1{
    height: 12rem;
    width: 80%;
  }
}